body {
    background-color: bisque;
}
.nav {
    list-style-type: none;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.nav li {
    float: left;
}
ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}
ul.nav a:hover {
    background-color: #555;
    color: white;
}
.active {
    background-color: antiquewhite;
}

#type1 {
    color: rgb(255, 0, 0); 
    text-align: right;
}
#type2 {
    color: red;
    text-align: right;
    background-color: rgb(208, 255, 0);
}
#type3 {
    color: orange;
    text-align: left;
}
h1 {
    color: red;
}

.highlight {
    font-weight: bold;
    color: purple;
}

.intro {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.images {
    width: 100%;
    max-width: auto;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.contact {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.resources {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.gallery {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.gallery {
    text-align: center;
    padding: 20px;
}

.chef {
    display: inline-block;
    width: 250px;
    margin: 20px;
    text-align: center;
}

.headshot {
    width: 100%;
    border-radius: 10px;
    border: 3px solid #000; /* Adds border around the image */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional for depth */
}

.chef p {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}


